<h1> Ajout d'une nouvelle serre </h1>

<%= form_for @greenhouse, url: admin_greenhouses_path, method: :post do |f| %>
	<%= f.label :serial_nbr, "Numéro de série" %> : <%= f.text_field :serial_nbr, autofocus: true %><br/>
	<%= f.label :school_id, "École liée" %> : <%= f.select :school_id, @linkable_schools.collect{|t| ["#{t.name} - #{t.town}", t.id]}, {prompt: "Choisir une école"} %> <br/>
	<%= f.submit "Créer" %>
<% end %>

<%= render partial: "return_link" %>
