<div class="row">
	<div class="col-md-4 col-md-offset-4 transparent-co" style="text-align: center">
<h1>Modification des informations d'une école</h1>

<%= form_for @school, url: admin_school_path, method: :patch do |f| %>
<div class="form-group col-md-12">
	<%= f.label :name, "Nom de l'école" %> : <%= f.text_field :name, autofocus: true %><br/>
	---<br/>
	</div>
	<div class="form-group col-md-12">
	<%= f.label :adress, "Adresse" %> : <%= f.text_field :adress, autofocus: true %><br/>
	</div>
	<div class="form-group col-md-12">
	<%= f.label :town, "Ville" %> : <%= f.text_field :town, autoficus: true %><br/>
	</div>
	<div class="form-group col-md-12">
	<%= f.label :zip_code, "Code Postal" %> : <%= f.text_field :zip_code, autofocus: true %><br/>
	---<br/>
	</div>
	<div class="form-group col-md-12">
	<%= f.label :contact, "Nom du contact" %> : <%= f.text_field :contact, autofocus: true %><br/>
	</div>
	<div class="form-group col-md-12">
	<%= f.label :phone_number, "Numéro de téléphone" %> : <%= f.telephone_field :phone_number, autofocus: true %><br/>
	</div>
	<div class="form-group col-md-12">
	<%= f.label :email, "Adresse mail" %> : <%= f.email_field :email, autofocus: true %><br/>
	</div>

	<%= f.submit "Modifier",class: 'btn btn-default' %>
	<%= render partial: "return_link" %>
<% end %>

</div>
</div>
