<h1> Liste des écoles </h1>
<table class="table table-stripped">
	<th> ID </th>
	<th> Nom </th>
	<th> Ville </th>
	<th> CP </th>
	<th colspan='3'> Actions </th>

	<% unless @all_schools.blank? %>
		<% @all_schools.each do |t| %>
			<tr>
				<td>
					<%= t.id.to_s %>
				</td>
				<td>
					<%= t.name.to_s %>
				</td>
				<td>
					<%= t.town.to_s %>
				</td>
				<td>
					<%= t.zip_code.to_s %>
				</td>
				<td>
								<%= link_to "Voir", admin_school_path(t) %>
				</td>
				<td>
								<%= button_to "Supprimer", admin_school_path(t), method: :delete,  data: {confirm: "Êtes-vous sûre ?"} %>
				</td>
				<td>
					<%= link_to "Accéder à la page de l'école", page_path(t.id) %>
				</td>
			</tr>
		<% end %>
	<% else %>
		<tr>
			<td colspan='4'>
				Aucune école de disponible
			</td>
		</tr>
	<% end %>
</table>

<%= link_to "Ajouter une école", new_admin_school_path %>
