<div class="row">
	<div class="col-md-4 col-md-offset-4 transparent-co" style="text-align: center">
<h1> École : <%= @school.name %> </h1>

<b>Informations générales :</b><br/>
<br/>
Nom : <%= @school.name %><br/>
-----<br/>
Adresse : <%= @school.adress %><br/>
Ville : <%= @school.town %><br/>
Code Postal : <%= @school.zip_code %><br/>
-----<br/>
Nom du contact : <%= @school.contact %><br/>
Numéro de téléphone : <%= @school.phone_number %><br/>
Adresse mail : <%= @school.email %><br/>
-----<br/>
<b>Carte de commande liée :</b><br/>
<% unless @control_card.blank? %>
	Id : <%= @control_card.id.to_s %><br/>
	Numéro de série : <%= @control_card.serial_nbr.to_s %><br/>
<% else %>
	Aucune
<% end %>
<br/><br/>
 
<%= link_to "modifier", edit_admin_school_path, class: 'btn btn-default' %>

<%= render partial: "return_link"  %>
</div>
</div>