<!DOCTYPE html>
<html>
<head>
  <head>
  <title>Puissance3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag  'welcomes', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

<% if user_signed_in? %>
<div class="container">


		  <%= render "shared/navbar" %>

	  <% flash.each do |key, value| %>
					    <div class="alert alert-<%= key %>">
	      <%= value %>
	    </div>
	  <% end %>
	</div>
	
	<%= yield :top_content %>

	<div class="container">
		<h1><%= yield :header %></h1>
	  <%= yield %>
	</div>
<% else %>
				<%= yield :top_content%>
<% end %>

</body>
</html>
