<div class="row center-row" >
	<div class="col-md-12">
<h1> Liste des Cartes Secondaires</h1>

<table class="table table-stripped table-bordered table-hover white-back">
	<thead>
		<th> ID  </th>
		<th> Numero de Série </th>
		<th> Liée à une carte prinipale </th>
		<th> Liée à une serre </th>
		<th colspan='2'> Actions </th>
	</thead>
	<tbody>
		<% @all_data_cards.each do |y| %>
		<tr>
				<td> 
						<%= y.id %>
				</td>
				<td>
						<%= y.serial_nbr %>
				</td>
				<td>
					<% unless y.control_card_id.blank? %>
							OUI
					<% else %>
							NON
					<% end %>
				</td>
				<td>
					<% unless y.greenhouse.blank? %>
							OUI
					<% else %>
							NON
					<% end %>
				</td>
				<td>
					<%= link_to "Voir", admin_data_card_path(y) %>
				</td>
				<td>
					<%= button_to "Supprimer", admin_data_card_path(y), method: :delete,class: 'btn btn-warning'  %>
				</td>
		</tr>
	<% end %>
</tbody>
</table>

<%= link_to "Ajouter une nouvelle carte secondaire", new_admin_data_card_path %>
</div>
</div>
