<h1> Ajout d'une nouvelle carte de contrôle secondaire </h1>

<%= form_for @data_card, url: admin_data_cards_path, method: :post do |f| %>
	<%= f.label :serial_nbr, "Numéro de série" %> : <%= f.text_field :serial_nbr, autofocus: true %><br/>

	<%= f.submit "Créer" %>
<% end %>

<%= render partial: "return_link" %>
