<h1> Carte de contrôle secondaire : <%= @data_card.serial_nbr.to_s %> </h1>

Numéro de série de la carte : <%= @data_card.serial_nbr.to_s %><br/>
Carte de contrôle associée : <%= @linked_control_card.serial_nbr.to_s unless @linked_control_card.blank? %> <%= "aucune" if @linked_control_card.blank? %><br/>
Serre associéee : <%= @linked_greenhouse.serial_nbr.to_s unless @linked_greenhouse.blank? %> <%= "aucune" if @linked_greenhouse.blank? %><br/>
<br/>
<%= link_to "Modifier", edit_admin_data_card_path %>
<%= render partial: "return_link" %>
