<div id="fullpage">
    <section class="section jungle first" id="section1">
     <div class="section-content">
       <div class="row">
         <div class="col-md-12 transparent">
           <h1 style="font-size:70px; font-family: 'cf_jack_storyregular'; text-transform:none;">My Culture </h1>
            <h3>La serre connectée qui change la manière d'enseigner</h3>
         </div>
        </div>
      </div>
    </section>
     <section class="section second jungle" id="section2">
      <div class="section-content">
        <div class="row" style="margin-top: 3%;">
          <div class="col-xs-12 transparent">
            <h1 style="font-size:70px; font-family: 'cf_jack_storyregular';">Qu'est-ce que c'est?</h1>
          <div class="row" style="margin-top: 10%;">
          <div class="col-xs-8 transparent is-animated">
            <p class="but">La serre myCulture est destinée à l’éducation. Cet objet connecté offre un support au développement d’une nouvelle pédagogie axée autour de l’environnement et sur l’action des différents climats sur le développement des végétaux.</p>
            <p class="but">L’interface d’utilisation et les données récoltées favorisent une application concrète des cours dans de nombreux domaines (physique, SVT, chimie …). La serre est un véritable lien entre les matières de l’élève.
            Le concept étant pensé pour eux, les professeurs ont accès à une fonctionnalité qui leur permet de mettre en ligne des travaux pratiques ou des cours pour leurs élèves. Si le temps de préparation leur manque, une liste de travaux pratiques déjà prête est mise à leur disposition.</p>
          </div>
          <div class="col-xs-2 transparent is-animated">
            <%= image_tag("serreseule.png", alt: "serre seule", id: "serre_seule") %>
          </div></div></div>
          <!--<div class="col-xs-12 text-center is-animated__single">
             <button type="button" class="btn btn-lg">Thank You!</button>
          </div>-->
        </div><!--end of row-->
      </div><!--end of container-->
    </section>
         <section class="section third jungle" id="section2">
      <div class="section-content" style="position:absolute; margin-top:-20%;">
        <div class="row">
          <div class="col-xs-12 transparent">
            <h1 style="font-size:70px; font-family: 'cf_jack_storyregular';">A quoi ca sert ? </h1>
          </div>
          <div class="col-xs-4 transparent is-animated">

            <!-- cercle engrenage-->
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="320px" height="320px" viewBox="0 0 320 320" enable-background="new 0 0 320 320" xml:space="preserve">
              <defs>
                  <clipPath id="ring1" style="stroke:30px;" clip-rule="odd">
                          <circle cx="160" cy="160" r="65" stroke="3px" fill="#FFFEF9"/>
                  </clipPath>
              </defs>

              

              <g style="clip-path:url(#ring1);" id="aring1">
                  <circle cx="160" cy="160" r="60" fill="#FFFEF9" stroke="#208997" >
                      
                    
                  </circle>
                     <svg x="0" y="0"
                       font-family="Helvetica Neue"
                       font-size="32px"
                       text-anchor="middle"
                       letter-spacing="4px"
                       font-weight="700"
                       color="#208997"
                       fill="white">
                       <g transform="translate(115.000000,203.000000) scale(0.01400,-0.01400)" fill="#208997" stroke="none">
                  <path d="M4458 6226 c-118 -49 -163 -114 -234 -338 -8 -26 -18 -50 -23 -52 -5
                  -3 -107 -8 -227 -10 -121 -3 -239 -9 -262 -14 l-44 -10 -37 82 c-79 171 -92
                  194 -128 231 -21 21 -62 49 -91 62 -45 21 -64 24 -125 21 -73 -5 -94 -13 -399
                  -158 -132 -62 -197 -210 -154 -350 8 -25 37 -94 65 -153 l50 -108 -105 -101
                  c-57 -56 -139 -143 -181 -195 -41 -51 -77 -93 -80 -93 -2 0 -45 15 -96 34
                  -151 56 -186 66 -231 66 -96 0 -202 -59 -251 -139 -27 -45 -128 -310 -147
                  -386 -28 -114 35 -260 137 -313 17 -8 86 -36 155 -62 l125 -48 -3 -138 c-3
                  -122 8 -304 23 -372 5 -19 -1 -25 -37 -41 -273 -117 -340 -178 -354 -318 -8
                  -77 3 -113 98 -318 91 -198 123 -237 222 -274 99 -37 157 -26 349 63 l98 46
                  122 -123 c67 -68 155 -147 195 -176 39 -30 72 -59 72 -66 0 -6 -21 -66 -46
                  -131 -68 -178 -69 -265 -6 -358 46 -67 92 -94 268 -161 210 -80 255 -90 331
                  -75 63 14 91 28 141 74 43 39 55 63 113 215 l47 125 199 2 c109 0 224 7 256
                  13 33 7 64 10 71 8 6 -3 36 -58 66 -123 29 -66 62 -131 72 -146 61 -89 184
                  -139 288 -119 57 11 328 131 401 176 52 33 105 108 120 169 20 81 6 144 -61
                  289 l-60 132 98 91 c54 51 136 139 182 197 l83 106 51 -21 c172 -69 250 -90
                  309 -84 96 10 187 68 227 147 18 34 98 246 134 352 29 88 16 173 -39 254 -39
                  59 -84 86 -235 143 l-139 53 6 126 c5 111 -8 332 -23 383 -4 15 22 31 138 86
                  151 72 187 101 229 184 27 53 36 143 19 194 -25 76 -168 374 -195 406 -15 18
                  -51 47 -79 63 -47 27 -59 30 -141 30 -89 -1 -91 -2 -219 -62 l-129 -62 -91 96
                  c-83 88 -234 221 -282 249 -21 12 -25 -3 51 214 32 89 37 113 32 160 -8 69
                  -30 124 -70 170 -42 49 -68 64 -193 111 -290 109 -327 116 -426 75z m-211
                  -1116 c436 -95 767 -425 873 -870 32 -133 33 -335 2 -472 -77 -349 -295 -634
                  -603 -789 -170 -85 -321 -120 -521 -120 -154 0 -283 25 -419 81 -258 107 -470
                  302 -592 545 -90 178 -120 309 -120 520 0 135 3 162 31 268 35 133 105 286
                  178 387 63 87 204 226 283 278 161 107 333 171 531 196 69 8 270 -5 357 -24z"/>
                  <path d="M1605 2676 c-61 -27 -81 -58 -137 -208 -10 -27 -13 -28 -87 -28 -42
                  0 -113 -3 -158 -7 l-83 -6 -31 69 c-17 38 -42 83 -55 101 -30 40 -100 67 -153
                  60 -46 -6 -211 -79 -259 -114 -70 -53 -80 -151 -24 -262 18 -36 32 -70 32 -77
                  0 -7 -21 -30 -46 -51 -25 -21 -72 -70 -104 -110 -66 -80 -57 -78 -168 -34 -74
                  30 -128 28 -183 -8 -50 -32 -64 -56 -114 -195 -39 -108 -42 -141 -21 -189 26
                  -58 51 -77 145 -115 l93 -37 2 -130 c2 -71 7 -142 10 -156 7 -24 2 -28 -73
                  -63 -45 -21 -94 -50 -110 -65 -29 -27 -51 -83 -51 -130 0 -33 87 -229 122
                  -273 54 -68 142 -75 261 -20 38 18 72 32 76 32 5 0 35 -28 68 -62 32 -35 83
                  -83 112 -108 l53 -45 -31 -83 c-38 -102 -39 -142 -6 -199 29 -49 49 -61 193
                  -114 123 -46 160 -48 219 -14 46 28 77 76 108 173 l17 52 73 0 c39 0 112 3
                  161 6 l89 7 33 -75 c53 -120 115 -167 202 -155 46 6 213 80 258 113 76 58 84
                  141 27 263 l-37 79 69 69 c38 37 87 90 108 116 l40 49 84 -31 c96 -35 138 -38
                  187 -15 53 25 78 63 124 188 35 95 42 126 38 165 -8 85 -59 131 -195 175 l-53
                  18 0 87 c0 49 -3 121 -6 162 l-6 74 48 19 c132 52 184 108 184 197 0 46 -73
                  218 -117 277 -56 75 -129 82 -258 27 l-88 -38 -43 50 c-24 28 -75 76 -113 107
                  l-70 56 30 87 c53 149 25 232 -92 280 -194 78 -233 86 -294 59z m-62 -679
                  c239 -77 415 -274 468 -526 7 -32 9 -95 6 -150 -15 -289 -200 -530 -474 -618
                  -344 -110 -722 82 -843 430 -118 337 59 719 393 847 108 42 152 50 272 45 71
                  -2 122 -10 178 -28z"/>
                  <path d="M3711 1504 c-17 -14 -36 -44 -43 -66 -6 -22 -17 -42 -22 -43 -6 -2
                  -48 -6 -93 -8 l-82 -5 -11 34 c-7 19 -25 48 -42 64 -39 39 -79 39 -164 -1 -51
                  -24 -69 -39 -82 -66 -16 -33 -15 -37 6 -95 l22 -61 -47 -51 c-25 -28 -51 -57
                  -58 -64 -9 -10 -19 -10 -54 3 -107 37 -155 3 -193 -137 -18 -70 2 -108 76
                  -138 l56 -22 0 -58 c0 -32 3 -71 6 -87 5 -27 2 -30 -46 -53 -62 -29 -80 -52
                  -80 -100 0 -45 51 -152 82 -174 30 -21 57 -20 120 4 l52 20 46 -45 c25 -25 54
                  -51 64 -59 19 -13 19 -15 3 -58 -36 -92 -17 -134 79 -172 112 -45 154 -33 192
                  54 l26 59 71 0 c39 0 77 1 85 3 8 2 26 -18 43 -50 48 -88 90 -96 204 -39 86
                  44 102 88 61 171 l-21 44 39 40 c22 21 49 51 60 66 19 27 19 27 63 11 57 -20
                  101 -19 128 3 25 20 73 133 73 173 0 37 -42 85 -88 100 -20 6 -40 14 -44 18
                  -3 3 -8 44 -10 91 l-3 85 45 21 c85 41 99 89 55 188 -29 66 -68 106 -102 106
                  -13 0 -47 -10 -74 -21 l-49 -22 -63 59 c-34 32 -63 58 -64 59 -1 0 4 19 12 40
                  22 62 19 113 -8 137 -27 24 -139 68 -172 68 -13 0 -37 -12 -54 -26z m37 -380
                  c73 -36 141 -104 178 -179 26 -54 29 -70 29 -161 0 -94 -2 -104 -34 -167 -78
                  -154 -242 -236 -404 -202 -88 18 -141 48 -203 111 -172 176 -122 476 98 591
                  70 36 102 43 196 39 65 -3 94 -10 140 -32z"/>
                  </g></svg>
                </g>
              </svg><!--fin cercle engrenage-->
            <div class="col-xs-12" style="position:relative;margin-top:-25%;">
              <h3>Automatiser</h3>
            </div>
            <div class="col-xs-12" >
              <p class="but" style="text-align:center;" >La gestion des paramètres</p>
              <p class="but" style="text-align:center;" >Automatisée</p>
            </div>
          </div>
          <div class="col-xs-4 transparent is-animated">

            <!-- cercle livre-->
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="320px" height="320px" viewBox="0 0 320 320" enable-background="new 0 0 320 320" xml:space="preserve">
              <defs>
                  <clipPath id="ring1" style="stroke:30px;" clip-rule="odd">
                          <circle cx="160" cy="160" r="65" stroke="3px" fill="#FFFEF9"/>
                  </clipPath>
              </defs>

              

              <g style="clip-path:url(#ring1);" id="aring1">
                  <circle cx="160" cy="160" r="60" fill="#FFFEF9" stroke="#A2CA32" >
                      
                    
                  </circle>
                     <svg x="0" y="0"
                       font-family="Helvetica Neue"
                       font-size="32px"
                       text-anchor="middle"
                       letter-spacing="4px"
                       font-weight="700"
                       color="#A2CA32"
                       fill="white">
                       <g transform="translate(115.000000,203.000000) scale(0.01400,-0.01400)" fill="#A2CA32" stroke="none">
                                          <path d="M1290 5464 c-161 -12 -350 -36 -469 -59 -201 -39 -473 -118 -507
                        -146 -11 -9 -14 -52 -14 -189 l0 -178 -49 -11 c-68 -14 -150 -48 -189 -77 -67
                        -52 -62 111 -62 -1979 l0 -1895 1389 0 1389 0 29 -24 c148 -124 444 -147 637
                        -49 28 14 64 36 79 49 l29 24 1354 0 1354 0 0 1900 0 1899 -29 34 c-30 34 -91
                        65 -171 89 l-45 13 -5 199 -5 198 -50 19 c-89 34 -327 98 -460 124 -397 77
                        -874 79 -1230 4 -375 -79 -748 -252 -1026 -476 -36 -29 -72 -53 -78 -53 -7 0
                        -63 37 -124 83 -127 95 -203 143 -332 212 -254 136 -582 237 -882 270 -134 15
                        -439 26 -533 19z m530 -198 c414 -53 790 -205 1113 -452 l87 -67 0 -1091 0
                        -1091 53 55 52 55 3 -719 c1 -396 1 -721 -1 -723 -2 -2 -46 13 -98 33 -259 98
                        -540 184 -799 243 -648 147 -1244 147 -1656 1 -45 -16 -85 -26 -88 -23 -11 11
                        -7 3641 4 3648 29 18 334 93 470 115 243 41 611 47 860 16z m3325 9 c202 -19
                        463 -70 668 -131 16 -5 17 -101 17 -1835 0 -1006 -2 -1829 -4 -1829 -3 0 -40
                        13 -83 29 -104 38 -270 78 -413 98 -166 24 -587 24 -775 0 -242 -30 -548 -94
                        -755 -158 -194 -60 -374 -122 -473 -164 -21 -8 -60 -24 -87 -35 l-50 -20 0
                        722 0 722 50 -49 50 -49 0 1082 c0 1019 1 1083 18 1096 243 199 484 331 767
                        420 182 57 357 89 610 109 109 9 316 5 460 -8z"/>
                        <path d="M1235 4724 c-106 -10 -375 -60 -387 -72 -3 -4 1 -36 10 -70 l17 -64
                        35 5 c19 3 67 12 105 20 157 32 247 41 435 41 170 0 364 -16 475 -39 237 -50
                        493 -131 654 -208 41 -20 78 -34 82 -31 9 5 71 115 67 119 -24 21 -282 130
                        -378 160 -364 110 -514 135 -840 140 -129 2 -253 1 -275 -1z"/>
                        <path d="M1270 4314 c-146 -13 -409 -60 -425 -76 -2 -2 3 -32 13 -66 19 -70
                        19 -71 117 -48 188 45 553 61 765 36 285 -35 650 -139 862 -246 26 -13 51 -24
                        56 -24 9 0 76 120 70 126 -2 2 -42 21 -89 42 -256 117 -542 200 -814 237 -114
                        16 -459 27 -555 19z"/>
                        <path d="M1250 3925 c-8 -2 -62 -9 -120 -15 -91 -11 -263 -45 -281 -56 -4 -2
                        1 -33 9 -69 11 -46 20 -65 31 -65 9 0 52 9 96 19 142 33 274 46 480 45 206 0
                        291 -8 501 -49 202 -39 481 -130 639 -208 28 -14 53 -23 57 -21 8 5 70 115 66
                        118 -61 44 -295 139 -468 190 -274 81 -520 116 -800 115 -107 -1 -202 -3 -210
                        -4z"/>
                        <path d="M1275 3503 c-236 -28 -415 -59 -430 -75 -8 -7 31 -133 41 -133 5 0
                        56 10 114 22 276 59 649 58 950 -3 214 -43 410 -104 598 -187 62 -27 115 -48
                        116 -46 19 20 65 113 60 120 -3 6 -40 26 -81 45 -382 174 -805 267 -1197 263
                        -77 -1 -154 -4 -171 -6z"/>
                        <path d="M1310 3113 c-89 -5 -278 -32 -378 -55 -75 -17 -92 -24 -88 -37 3 -9
                        10 -36 17 -61 7 -25 15 -48 18 -52 4 -4 38 0 76 8 306 67 657 70 980 8 226
                        -43 501 -131 655 -209 27 -14 56 -25 64 -25 8 0 29 26 46 58 l31 57 -21 14
                        c-12 8 -56 29 -98 48 -417 183 -875 270 -1302 246z"/>
                        <path d="M1175 2695 c-145 -16 -337 -56 -332 -70 3 -5 10 -36 18 -69 12 -57
                        13 -58 43 -52 17 3 79 14 137 25 391 73 801 42 1229 -93 114 -37 256 -91 335
                        -130 28 -13 53 -22 57 -20 15 9 69 117 61 123 -36 31 -301 135 -483 190 -325
                        97 -728 134 -1065 96z"/>
                        <path d="M1275 2303 c-100 -7 -401 -58 -424 -72 -7 -5 -6 -24 6 -66 9 -33 19
                        -63 22 -67 3 -4 43 2 88 13 474 110 1105 34 1608 -196 43 -19 80 -35 84 -35
                        13 0 72 113 64 121 -11 11 -145 76 -197 95 -446 168 -845 234 -1251 207z"/>
                        <path d="M4625 4709 c-264 -33 -510 -92 -740 -180 -111 -42 -255 -108 -255
                        -117 0 -1 14 -30 31 -63 27 -51 34 -59 53 -53 11 4 26 10 31 14 6 4 39 20 75
                        35 284 121 573 193 886 221 182 17 201 17 380 1 104 -10 227 -26 274 -37 128
                        -29 124 -31 142 45 8 36 12 67 9 70 -14 8 -217 46 -328 60 -124 16 -439 18
                        -558 4z"/>
                        <path d="M4715 4304 c-336 -34 -531 -77 -806 -179 -132 -49 -279 -115 -279
                        -125 0 -3 14 -32 31 -64 35 -63 34 -63 121 -20 153 77 449 168 688 210 119 22
                        187 27 374 31 238 6 317 0 516 -39 58 -11 109 -21 114 -22 5 0 17 29 26 66 20
                        77 30 67 -85 93 -130 31 -269 45 -465 49 -107 2 -213 2 -235 0z"/>
                        <path d="M4595 3905 c-223 -24 -489 -90 -720 -180 -120 -47 -245 -103 -245
                        -111 0 -3 55 -107 65 -122 1 -1 53 20 115 49 382 172 854 260 1243 231 89 -7
                        218 -24 287 -37 69 -14 130 -25 136 -25 15 0 45 130 30 136 -6 2 -51 13 -101
                        24 -205 47 -552 62 -810 35z"/>
                        <path d="M4680 3490 c-327 -29 -642 -112 -957 -252 -51 -22 -93 -44 -93 -48 0
                        -15 62 -120 71 -120 5 0 31 11 57 24 45 23 171 73 272 109 83 30 258 77 357
                        96 202 40 266 46 513 46 250 0 336 -8 495 -46 44 -10 82 -15 86 -11 3 4 11 28
                        17 53 7 26 14 53 17 61 7 19 -109 49 -280 73 -132 19 -424 27 -555 15z"/>
                        <path d="M4785 3104 c-342 -25 -595 -78 -882 -185 -112 -41 -273 -114 -273
                        -124 0 -18 64 -115 76 -115 8 0 36 11 62 24 278 140 688 239 1047 252 195 8
                        359 -5 539 -41 66 -14 122 -22 125 -19 10 10 38 124 32 129 -20 12 -192 47
                        -296 59 -130 16 -350 26 -430 20z"/>
                        <path d="M4680 2694 c-255 -22 -566 -95 -802 -188 -126 -49 -248 -105 -248
                        -113 0 -4 56 -108 65 -121 1 -1 38 14 81 33 230 106 504 186 777 226 256 39
                        602 28 834 -26 99 -23 99 -23 112 45 7 33 13 63 14 67 2 9 -67 26 -223 54 -88
                        15 -168 21 -340 24 -124 1 -245 1 -270 -1z"/>
                        <path d="M4725 2294 c-319 -32 -562 -87 -852 -193 -79 -29 -220 -95 -236 -110
                        -8 -8 50 -121 62 -121 5 0 46 17 92 39 115 53 390 144 531 175 351 79 728 86
                        1038 22 63 -13 118 -21 121 -18 3 4 13 35 21 69 l15 61 -64 16 c-132 33 -328
                        57 -508 60 -99 2 -198 2 -220 0z"/>
                  </g></svg>
                </g>
              </svg><!--fin cercle livre-->
            <div class="col-xs-12" style="position:relative;margin-top:-25%;">
              <h3>Eduquer</h3>
            </div>
            <div class="col-xs-12" >
              <p class="but" style="text-align:center;" >Courbes de données</p>
              <p class="but" style="text-align:center;" ></p>
            </div>
          </div>
          <div class="col-xs-4 transparent is-animated">

            <!-- cercle jeu-->
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="320px" height="320px" viewBox="0 0 320 320" enable-background="new 0 0 320 320" xml:space="preserve">
              <defs>
                  <clipPath id="ring1" style="stroke:30px;" clip-rule="odd">
                          <circle cx="160" cy="160" r="65" stroke="3px" fill="#FFFEF9"/>
                  </clipPath>
              </defs>

              

              <g style="clip-path:url(#ring1);" id="aring1">
                  <circle cx="160" cy="160" r="60" fill="#FFFEF9" stroke="#FB3B33" >
                      
                    
                  </circle>
                     <svg x="0" y="0"
                       font-family="Helvetica Neue"
                       font-size="32px"
                       text-anchor="middle"
                       letter-spacing="4px"
                       font-weight="700"
                       color="#FB3B33"
                       fill="white">
                       <g transform="translate(123.000000,195.000000) scale(0.20000,-0.20000)" fill="#FB3B33" stroke="none">
                            <path d="M40.532,369.964h288.9c22.348,0,40.529-18.182,40.529-40.529V40.53C369.961,18.182,351.78,0,329.432,0h-288.9
              C18.185,0,0.003,18.182,0.003,40.53v288.899C0.003,351.777,18.185,369.964,40.532,369.964z M18.708,40.53
              c0-12.035,9.789-21.824,21.824-21.824h288.9c12.038,0,21.823,9.789,21.823,21.824v288.899c0,12.039-9.785,21.824-21.823,21.824
              h-288.9c-12.035,0-21.824-9.785-21.824-21.824V40.53z"/>
            <path d="M47.422,174.494h117.911c5.169,0,9.353-4.183,9.353-9.353V47.234c0-5.17-4.184-9.354-9.353-9.354H47.422
              c-5.169,0-9.353,4.184-9.353,9.354v117.907C38.069,170.305,42.252,174.494,47.422,174.494z M56.775,56.586h99.205v99.202H56.775
              V56.586z"/>
            <path d="M266.745,174.494c37.667,0,68.308-30.646,68.308-68.308c0-37.659-30.641-68.306-68.308-68.306
              c-37.655,0-68.303,30.647-68.303,68.306C198.442,143.847,229.077,174.494,266.745,174.494z M316.346,106.186
              c0,27.349-22.249,49.602-49.602,49.602c-27.341,0-49.597-22.253-49.597-49.602c0-27.347,22.256-49.6,49.597-49.6
              C294.097,56.586,316.346,78.839,316.346,106.186z"/>
            <path d="M38.063,303.849l57.253,33.21c1.446,0.841,3.072,1.267,4.688,1.267c1.607,0,3.218-0.414,4.665-1.242l57.39-32.979
              c2.892-1.669,4.683-4.75,4.688-8.087l0.131-66.188c0.006-3.344-1.772-6.437-4.664-8.111l-57.259-33.21
              c-2.886-1.681-6.455-1.687-9.353-0.013l-57.384,32.979c-2.893,1.662-4.683,4.737-4.688,8.086l-0.131,66.189
              C33.393,299.082,35.17,302.174,38.063,303.849z M52.229,234.993l48.025-27.596l47.913,27.79l-0.113,55.388l-48.025,27.596
              l-47.913-27.791L52.229,234.993z"/>
            <path d="M223.438,281.678l-14.023,43.142c-1.254,3.854,0.128,8.074,3.398,10.461c1.638,1.188,3.568,1.791,5.498,1.791
              c1.937,0,3.86-0.604,5.505-1.791l36.693-26.664l36.693,26.664c3.275,2.375,7.708,2.375,10.997,0
              c3.275-2.387,4.651-6.606,3.397-10.461l-14.018-43.142l36.706-26.664c3.275-2.375,4.651-6.601,3.397-10.449
              c-1.255-3.86-4.847-6.467-8.902-6.467h-45.358l-14.018-43.136c-1.254-3.86-4.841-6.467-8.896-6.467
              c-4.056,0-7.648,2.606-8.902,6.467l-14.018,43.136h-45.352c-4.053,0-7.646,2.606-8.899,6.467
              c-1.251,3.849,0.125,8.074,3.397,10.449L223.438,281.678z M244.397,256.804c4.056,0,7.642-2.606,8.896-6.467l7.216-22.219
              l7.222,22.219c1.254,3.86,4.847,6.467,8.902,6.467h23.37l-18.907,13.737c-3.27,2.387-4.652,6.606-3.397,10.461l7.216,22.22
              l-18.901-13.737c-3.275-2.381-7.715-2.381-10.997,0l-18.906,13.737l7.216-22.22c1.254-3.854-0.122-8.074-3.398-10.461l-18.9-13.737
              H244.397z"/>
                  </g></svg>
                </g>
              </svg><!--fin cercle jeu-->
            <div class="col-xs-12" style="position:relative;margin-top:-25%;">
              <h3>Amuser</h3>
            </div>
            <div class="col-xs-12" >
              <p class="but" style="text-align:center;" >Un design ludique</p>
              <p class="but" style="text-align:center;" >Une interface animée</p>
            </div>
          </div>
          <!--<div class="col-xs-12 transparent is-animated">
            <ul class="fonctionnalites">
                <li>Automatiser la gestion des paramètres</li>
                <li>Visualiser l'état des paramètres à n'importe quel instant</li>
                <li>Visualiser l'évolution des paramètres au ours du temps</li>
                <li>Accéder à l'interface de n'importe où via Internet</li>
                <li>Simuler la croissance d'une plante</li>
                <li>Personnaliser le contenu de l'interface</li>
                <li>Suivre l'évolution de la plante grâce à la fonctionnalité Time Lapse</li>
              </ul> 
          </div>-->
          <!--<div class="col-xs-12 text-center is-animated__single">
             <button type="button" class="btn btn-lg">Thank You!</button>
          </div>-->
        </div><!--end of row-->
      </div><!--end of container-->
    </section>
    <section class="section fourth jungle" id="section4">
      <div class="section-content" >
        <div class="row">
          <div class="col-xs-12 transparent is-animated">
            <h1 style="font-size:70px; font-family: 'cf_jack_storyregular';">à quoi ca ressemble ?</h1>
          </div>
          <div class="col-sm-2 transparent" width="200px" style="margin-top:5%;">
            <p class="design">
              La serre connectée MyCulture est composée de trois modules articulés autour d'un mat central. 
              Le design se veut doux et ludique afin de correspondre à un public d'enfants.
              Les dimmensions et les finitions ont été étudiées dans le respect des normes scolaires en vigueurs.
            </p>
          </div>
          <div class="col-sm-10 is-animated white" style="background-color:transparent;margin-top:5%;">
            <%= image_tag("serre.png", alt: "ensemble de la serre", id: "serre") %>
          </div>
          <!--<div class="col-sm-4 col-md-offset-1 is-animated white">
            <%= image_tag("hautserre.png", alt: "haut de la serre", id: "hautserre") %>
          </div>
          <div class="col-sm-4 col-md-offset-1 is-animated white" style="margin-left:2%;">
            <%= image_tag("ensembleserre.png", alt: "ensemble de la serre", id: "ensembleserre") %>
          </div>-->
          <!--<div class="col-xs-12 text-center is-animated__single">
             <button type="button" class="btn btn-lg">A Simple Button</button>
          </div>-->
        </div><!--end of row-->
      </div><!--end of container-->
    </section>
    <section class="section jungle fifth" id="section5">
      <div class="section-content" style="position:absolute; margin-top:-18%;">
        <div class="row">
          <div class="col-xs-12 transparent">
            <h1 style="font-size:70px; font-family: 'cf_jack_storyregular'; margin-bottom:30px;">à quoi ressemble l'application web ?</h1>
          </div>
          <div class="col-sm-6 col-sm-offset-1 is-animated resize">
            <%= image_tag("giphy.gif", alt: "gif", id: "gif") %>
          </div>
          <div class="col-sm-5 is-animated resize">
           <%= image_tag("Evolution.png", alt: "Evolution", id: "evolution") %>
          </div>
        </br>
          <div class="col-xs-12 transparent is-animated">
            <p class="but" style="font-size:16px;">La serre myCulture est destinée à l’éducation. Cet objet connecté offre un support au développement d’une nouvelle pédagogie axée autour de l’environnement et sur l’action des différents climats sur le développement des végétaux.</p>
          </div>
           <!--<div class="col-xs-12 text-center is-animated__single">
             <button type="button" class="btn btn-lg">A Simple Button</button>
          </div>-->
        </div><!--end of row-->
      </div><!--end of container-->
    </section>
    <section class="section jungle sixth" id="section6">
      <div class="section-content" >
        <div class="row">
          <div class="col-xs-12 transparent">
            <h1 style="font-size:70px; font-family: 'cf_jack_storyregular';">Une question ?</h1>
          </div>
         <div class="col-xs-10 col-xs-offset-1 contact-form" >
    <form class="form-horizontal contact" method="post">
    <div class="form-group is-animated ">
      <label class="control-label " for="name">
       Name
      </label>
      <input class="form-control" id="name" name="name" type="text"/>
     </div>
     <div class="form-group is-animated">
      <label class="control-label requiredField" for="email">
       Email
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="email" name="email" type="text"/>
     </div>
     <div class="form-group is-animated">
      <label class="control-label " for="subject">
       Subject
      </label>
      <input class="form-control" id="subject" name="subject" type="text"/>
     </div>
     <div class="form-group is-animated">
      <label class="control-label " for="message">
       Message
      </label>
      <textarea class="form-control is-animated" cols="30" id="message" name="message" rows="7"></textarea>
     </div>
     <div class="form-group is-animated">
      <div style="text-align:center;">
       <button class="btn btn_style " name="submit" type="submit">
        Submit
       </button>
      </div>
     </div>
    </form>
   </div><!--end of row-->
      </div><!--end of container-->
    </section>
   
</div>