<div style="padding-top:15%;">
<div style="width:100%;height:450px;margin-bottom: 20%;">
	<div id="chart">
	</div>
	
	<% @value_types.collect(&:name).each do |v|%>

		<div id="<%= v %>-value" data-source="<%= instance_variable_get("@#{v}_values").collect{|y| y.value}.join('!') %>"></div>
		<div id="<%= v %>-date" data-source="<%= instance_variable_get("@#{v}_values").collect{|y| y.created_at.iso8601}.join('!') %>"></div>
	<% end %>
	
	<% date = @date %>
	<% array_date = ['xaxis'] %>
	<% while date < @date2 %>
		<% array_date << date.iso8601 %>
		<% if params[:day] != "" %>
			<% date = date + 2.hours %>
		<% elsif params[:month] != "" %>
			<% date = date + 1.days %>
		<% else %>
			<% date = date + 1.months %>
		<% end %>
	<% end %>

	<div id="xaxis" data-source="<%= "#{array_date.join('!')} "%>"></div>
	<div id="dummyvalue" data-source="<%="#{(["dummy"] + (1..(array_date.count - 1)).step(1).to_a).join('!')}"%>"></div>	
</div>

<b>Liste des valeurs pour chaque types<b><br/><br/>
<% @value_types.each do |y| %>
		<b> <%= VALUE_TYPES[:"#{y.name}"][0] %> </b>
		<table class='table table-hover table-bordered white-back'>
			<thead>
				<tr style="background-color:white;">
					<th> ID </th>
					<th> DataCard ID </th>
					<th> Date </th>
					<th> Valeur </th>
					<th> Valeur cible du moment </th>
				</tr>
			</thead>
			<tbody>
				<% instance_variable_get("@#{y.name}_values").each do |k,v| %>
						<tr>
								<td>
										<%= k.id %>
								</td>
								<td>
										<%= k.data_card_id %>
								</td>
								<td>
										<%= convert_date(k.created_at) %>
								</td>
								<td>
										<%= print_value(k.value,y.name) %>
								</td>
								<td>
										<%= print_value(@hash_target_values[:"id#{k.id}"], y.name) %>
								</td>
						</tr>
				<% end %>
		</tbody>
	</table>
	<br/>	
<% end %>
</div>
