<h1> SHOW de "Modifier les Paramètres"</h1>

<b>Liste des serres disponibles</b><br/>
<% unless @greenhouses.blank? %>
<ol>
				<% @greenhouses.each do |y| %>
					<li><%= y.id %> --- <% if @selected_greenhouse.id == y.id %> Serre actuellement selectionnée <% else %> <%= link_to "Choisir cette serre", show_parameters_pages_path(id: params[:id], selected_greenhouse: y.id) %><% end %></li>
<% end %>
</ol>

<br/>
<br/>

<table class="table">
	<th> Type de valeur </th>
	<th> Valeur </th>

	<% if current_user.teacher? %>
		<% @value_types.each do |y| %>
			<tr>
				<%= form_for y, url: update_parameters_pages_path, method: :patch do |f| %>
					<td> <%= print_value_name(y.name) %></td>
					<td> <%= number_field_tag "#{y.name}_value", instance_variable_get("@target_#{y.name}"), within: 1..50 %> <%=print_unit(y.name) %></td>
					<%= hidden_field_tag :greenhouse_id, @selected_greenhouse.id %>
					<%= hidden_field_tag :value_type_id, y.id %>
					<%= hidden_field_tag :school_id, params[:id] %>
					<td> <%= f.submit "Modifier"%></td>
				<% end %>
			</tr>
		<% end %>
	<% else %>
		<% @value_types.each do |y| %>
			<tr>
				<td> <%= print_value_name(y.name) %></td>
				<td> <%= print_value(instance_variable_get("@target_#{y.name}"),y.name) %></td>
			</tr>
		<% end %>
	<% end %>
</table>

<% else %>
	Aucune serre n'est associée à cette école <br/>
<% end %>
<br/>
<br/>



