<div class="row center-row" style="margin-top:9%">
	<div class="col-md-12">

<%= render "actual_situation" %>

<%= render "nav_greenhouse" %>

<h1> Etat actuel de la serre </h1>

<b>Liste des dernières valeurs</b><br/>
	<table class='table table table-hover table-bordered white-back'>
		<thead>
			<% @value_types_header.each do |v| %>
				<th><%="#{v}"%></th>
			<% end %>
		</thead>
		<tbody>
			<% @value_types.each do |y| %>
					<tr>
							<td>
									<%= print_value_name(y.name) %> 
							</td>
							<td>
									<%= print_value(instance_variable_get("@#{y.name}_values"), y.name) %>
							</td>
							<td>
									<%= print_value(instance_variable_get("@target_#{y.name}"), y.name) %>
							</td>
					</tr>
			<% end %>
		</tbody>
	</table>


<%= link_to "Ancienne page d'accueil connecté", root_path(ana_display: "true", id: params[:id]) %>
</div>
</div>