<div class="row center-row" style="margin-top:9%">
	<div class="col-md-12">
<h1> Supports éducatifs </h1>
<br/><br/>

<b>Trier par type de fichiers:</b>
<div class="btn-group btn-group-justified" role="group"	aria-label="...">
	<%= link_to "Tous", show_media_file_pages_path(id: params[:id], search_type: "all"), class:"btn btn-default #{"active" if (params[:search_type] == "all" || params[:search_type].blank?)}" %>
	<% @media_file_types.each do |v| %>
		<%= link_to v.translated_name, show_media_file_pages_path(id: params[:id], search_type: v.name), class: "btn btn-default #{"active" if params[:search_type] == v.name}" %>
	<% end %>
</div>
<br/><br/>

<% @media_files.each do |media_file| %>
 <div class="well">
	<h3><%= media_file.title.capitalize %>&nbsp &nbsp<small>Ajouté le <%= convert_date_short(media_file.created_at) %></small></h3	>

	<table class="table table-condensed">
		<tr>
			<td class="col-md-6">
				<h4>Description :</h4>
				<%= media_file.description %>
			</td>
			<td class="col-md-6">
				<h4> Télécharger <i><%= media_file.attachement.to_s.split('/')[-1] %></i> :</h4>
				<%= link_to media_file.attachement_url, class: "btn btn-primary" do %>
					<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Télécharger
				<% end %>
			</td>
		</tr>
	</table>
 </div>
<% end %>
</div>
</div>
