<nav class="navbar navbar-default ">
				<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">
												<%=image_tag("logo.png", alt: "Logo", id: "logo")%>
								</a>
				</div>

				<% if user_signed_in? %>
					<div id="navbar" class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-left">
							<li class="<%= "active" if request.env['PATH_INFO'] == show_current_state_pages_path %>"><%= link_to "Situation actuelle", show_current_state_pages_path(id: params[:id], selected_greenhouse: params[:selected_greenhouse]), class: "nav_btn" %></li>
							<li class="<%= "active" if request.env['PATH_INFO'] == show_parameters_pages_path %>"><%= link_to "Modifier les paramètres", show_parameters_pages_path(id: params[:id], selected_greenhouse: params[:selected_greenhouse]), class: "nav_btn"%></li>
							<li class="<%= "active" if request.env['PATH_INFO'] == show_data_pages_path %>"><%= link_to "Évolution", show_data_pages_path(id: params[:id], selected_greenhouse: params[:selected_greenhouse]), class:"nav_btn" %></li>
							<li class="<%= "active" if request.env['PATH_INFO'] == show_media_file_pages_path %>"><%= link_to "Supports Éducatifs", show_media_file_pages_path(id: params[:id]), class: "nav_btn" %></li>
							<% if current_user.super_admin? || current_user.teacher? %>
								<li class="dropdown <%= "active" if [edit_user_registration_path,teacher_supervisions_path,admin_schools_path].include?(request.env['PATH_INFO'])%>">
	      	    	  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Administration<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li class="<%= "active" if request.env['PATH_INFO'] == edit_user_registration_path %>"><%= link_to "Gestion du Profil", edit_user_registration_path, class: "nav_btn" %></li>
										<li class="<%= "active" if request.env['PATH_INFO'] == teacher_supervisions_path %>"><%= link_to "Zone Professeur", teacher_supervisions_path(id: params[:id]), class: "nav_btn" %></li>
										<% if current_user.super_admin %>
											<li class="<%= "active" if request.env['PATH_INFO'] == admin_schools_path %>"> <%= link_to "Zone Admin", admin_schools_path, class: "nav_btn" %></li>
										<% end %>
									</ul>
								</li>
							<% end %>
						</ul>
					</div><!--/.nav-collapse -->
				<% end %>

				<div class="col-md-3 col-md-offset-9" style="margin-top: -4%">
					<div class="user_info">
						<% if user_signed_in? %>
										<p>Bonjour <%= current_user.first_name%> <%= current_user.last_name%></p>
										<p><%= link_to 'Se déconnecter', destroy_user_session_path %></p>
						<% else %>      
										<!-- Je sais c'est pas bien mais je le fais a l'arrache dans le train pour y avoir accès :) -->
										<p style='margin-top:25%'><%= link_to 'Se connecter', new_user_session_path %></p>
						<% end %>
					</div>
				</div>


</nav>
