<div class="row">
	<div class="col-md-4 col-md-offset-4 transparent-co" style="text-align: center">
<h1> Modification de la carte de commande : <%= @control_card.serial_nbr.to_s %> </h1>

<%= form_for @control_card, url: admin_control_card_path, method: :patch do |f| %>
<div class="form-group col-md-12">
	<%= f.label :serial_nbr, "Numéro de série" %> : <%= f.text_field :serial_nbr, autofocus: true, class: 'form-control '  %><br/>
</div>
<div class="form-group col-md-12">
	<%= f.label :school_id, "École liée" %> : <%= f.select :school_id, @linkable_schools.collect{|t| ["#{t.name} - #{t.town}", t.id]}, {prompt: "Choisir une école"} %> <br/>
</div>
	<%= f.submit "Modifier",class: 'btn btn-default' %>
	<%= render partial: "return_link" %>

<% end %>

</div>
</div>