<div class="row">
	<div class="col-md-4 col-md-offset-4 transparent-co" style="text-align: center">
<h1> Ajout d'une nouvelle carte de commande </h1>

<%= form_for @control_card, url: admin_control_cards_path, method: :post do |f| %>
<div class="form-group col-md-12">
	<%= f.label :serial_nbr, "Numéro de série" %> : <%= f.text_field :serial_nbr, autofocus: true %><br/>
	</div>
	<div class="form-group col-md-12">
	<%= f.label :school_id, "École liée" %> : <%= f.select :school_id, @linkable_schools.collect{|t| ["#{t.name} - #{t.town}", t.id]}, {prompt: "Choisir une école"} %> <br/>
	</div>
	<%= f.submit "Créer",class: 'btn btn-default' %>
	<%= render partial: "return_link" %>
<% end %>


</div>
</div>