<h1> Carte de commande : <%= @control_card.serial_nbr.to_s %> </h1>

Numéro de série de la carte : <%= @control_card.serial_nbr.to_s %><br/>
École liée : <% unless @linked_school.blank? %> <%= @linked_school.name.capitalize.to_s %> <% else %> AUCUNE <% end %><br/>
Nombre de cartes secondaires liées : ...<br/>
<br/>
<%= link_to "Modifier", edit_admin_control_card_path %>
<%= render partial: "return_link" %>
