<% if !@media_file.errors.empty? %>
  <div class = "alert alert-error">
      
		<ul>
			<% @media_file.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
			<% end %>
		</ul>
					       
	</div>
<% end %>


<div class = "well">
	<h1> Mise à jour des informations </h1><br/><br/>
	<%= form_for @media_file, url: teacher_media_file_handler_path, method: :PUT, html: { multipart: true } do |f| %>
					<%= hidden_field_tag :school_id, params[:school_id] %>
					<%= f.label :title, "Titre :", :class => "col-md-3" %><%= f.text_field :title, :class => "col-md-3" %><br/><br/>
					<%= f.label :description, "Description :", :class => "col-md-3" %><%= f.text_area :description, :class => "col-md-3" %><br/><br><br/><br/>
					<%= f.label :to_show, "À afficher dans la partie élève ?", :class => "col-md-3" %><%= f.select :to_show, [["NON",false],["OUI",true]] %><br/><br>
					<strong class="col-md-3">Fichier stocké : </strong> <%= @media_file.attachement.to_s.split('/')[-1] %> <br/><br/>
					<%= f.submit "Enregistrer", class: "btn btn-primary" %>
	<% end %>
</div>
