<% if !@media_file.errors.empty? %>
  <div class = "alert alert-error">
      
		<ul>
			<% @media_file.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
			<% end %>
		</ul>
					       
	</div>
<% end %>


<div class = "well">
	<h1> Importer un nouveau fichier </h1><br/><br/>
	<%= form_for @media_file, url: teacher_media_file_handlers_path, html: { multipart: true } do |f| %>
					<%= hidden_field_tag :school_id, params[:school_id] %>
					<%= f.label :title, "Titre :", :class => "col-md-3" %><%= f.text_field :title, :class => "col-md-3" %><br/><br/>
					<%= f.label :description, "Description :", :class => "col-md-3" %><%= f.text_area :description, :class => "col-md-3" %><br/><br><br/><br/>
					<%= f.label :type, "Type de fichier :", :class => "col-md-3" %><%= f.select :media_file_type_id, MediaFileType.all.collect{|t| [t.translated_name,t.id]}, {:prompt => "-- choisir un type de fichier --"},:class => "col-md-3" %><br/><br/><br/>
					<%= f.label :to_show, "Afficher dans la partie élève ?", :class => "col-md-3" %><%= f.select :to_show, [["NON",false],["OUI",true]] %><br/><br/>
					<%= f.label :attachement, "Fichier à ajouter :", :class => "col-md-3" %><%= f.file_field :attachement, :class => "col-md-3" %><br/><br><br/><br/>
					<%= f.submit "Enregistrer", class: "btn btn-primary" %>
	<% end %>
</div>
